.mapp-empty {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #1f1f1f;
}

.mapp-empty-cell {
	padding: 29px 0;
	font-size: 14px;
	color: #7A8599;
	line-height: 20px;
	text-align: center;
}
